<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Описание</title>
    <link href="/static/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1 class="title" align="center">Основные задачи проекта:</h1>
<br>
<p class="text"> - Парсинг сайта rabota19.ru;</p>
<p class="text"> - Поиск актуальных вакансий в Республике Хакасия;</p>
<p class="text"> - Оттачивание навыков парсинга с помощью BeautifulSoup;</p>
<p class="text"> - Изучение основ языка запросов SQL;</p>
<p class="text"> - Интеграция базы данных в проект с помощью SQLite; </p>
<br>
<a class="btn" align="center" href="/parsing.html">Парсинг</a>
<a align="center" class="btn" href="/base.html">База данных</a>
</body>
</html>